.outercontainer {
  height: 100%;
  width: 100%;

}

header {
  padding: 10px;
}

nav ul {
	list-style-type: none;
	padding: 10px;
  padding-bottom:60px;
}

.header {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: .1400em;
}

.header:hover {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: .1400em;
}

.item {
  font-size: 14px;
  line-height: 16px;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.item:hover {
  font-size: 14px;
  line-height: 16px;
  font-family: Candara;
  text-transform: none;
  text-decoration: underline;
  color: #000000;
  letter-spacing: 00em;
}

.statement {
  font-size: 14px;
  line-height: 18px;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.statement:hover {
  font-size: 14px;
  line-height: 18px;
  font-family: Candara;
  text-transform: none;
  text-decoration: underline;
  color: #000000;
  letter-spacing: 00em;
}
#leftleft {
  position: fixed;




  z-index: 10;
}

#left {
  position: fixed;

  width: 320px;
  height: 100%;
  background-color: white;

  padding: 30px;
  padding-right: 0px;
  z-index: 9;
}

#right {
  margin-left: 350px;

  position: absolute;
  width: 100%;

  z-index: 6;
  

}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

body { 
  margin:0; 
}


.block #block1 {
	width: 50px;
	height: 37px;
  float: left;

  padding-right: 25px;
}


body {

  border: 0px;
}