.header {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: .1400em;
}

.header:hover {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: .1400em;
}

.item {
  font-size: 14px;
  line-height: 16px;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.statement {
  font-size: 14px;
  line-height: 18px;
  font-family: Candara;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.statement:hover {
  font-size: 14px;
  line-height: 18px;
  font-family: Candara;
  text-transform: none;
  text-decoration: underline;
  color: #000000;
  letter-spacing: 00em;
}

#top {
  position: fixed;
  width: 7000px;
  height: 300px;
  display: inline-block;
  
}

#bottom {
  margin-top: 385px;
  position: fixed;
  width: 800px;
  height: 200px;
}

.buffer {
  padding: 50px;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 130px;
  height: 16px;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}
  
audio::-webkit-media-controls-volume-slider {
  display: none !important;
}
  
audio::-webkit-media-controls-volume-control-container.closed {
  display: none !important;
}

audio::-webkit-media-controls-volume-control-container{
  display: none !important;
}
  
.img-wrapper {
  float: left;
  width: 9%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}